.card {
    border-width: 2px;
    border-color: black;
    border-style: solid;
    border-radius: 14px;
    padding: 20px;
    text-align: center;
    transition: transform 150ms;
    height: 100%;
}

.card:hover {
    transform: translateY(-8px);
}

.card > h4 {
    margin: 0 0 10px 0;
}

.card > p {
    margin: 0;
}

.project-wrapper {
    padding: 16px;
}

@media (prefers-color-scheme: dark) {
    .card {
        border-color: whitesmoke;
        color: whitesmoke;
    }
}